<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-explore-container name="Tab 3 page"></app-explore-container>

  <ion-card>
    <ion-row class="ion-justify-content-center">
      <img alt="Silhouette of mountains" src="../../assets/Wilson1.png" width="190" height="200" />
    </ion-row>
    <ion-card-header>
      <ion-row class="ion-justify-content-center">
        <ion-card-title>Wilson Guayanay</ion-card-title>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-card-subtitle class="ion-text-wrap">Desarrollador de Software Junior</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-wrap"> - Estudiante de la Escuela Politécnica Nacional</ion-card-subtitle>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-row class="ion-justify-content-center">
          <ion-card-title>Datos Personales</ion-card-title>
        </ion-row>
        <ion-item>
          <ion-icon aria-hidden="true" name="location" slot="start"></ion-icon>
          <ion-label>Quito, Ecuador</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="mail-outline" slot="start"></ion-icon>
          <ion-label>wilson.guayanay@epn.edu.ec</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
          <ion-label>0993925118</ion-label>
        </ion-item>
        <ion-item class="ion-justify-content-center">
          <a href="https://github.com/WilsonG08" target="_blank">
            <ion-icon name="logo-github" aria-label="GitHub logo" class="github-icon"></ion-icon>
          </a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="tecnologias-card">
    <ion-card-content>
      <ion-item class="tecnologias-item">
        <ion-label>TECNOLOGIAS</ion-label>
      </ion-item>
      <ion-item class="tecnologias-item">
        <ion-img src="../../assets/TEC.png" alt="Tecnologia" width="400" height="400"
          class="tecnologias-image"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row class="ion-justify-content-center">
      <ion-card-title>Formulario de Contacto</ion-card-title>
    </ion-row>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Text input" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Number input" type="Celular" placeholder="593+"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Términos y condiciones</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-row class="ion-justify-content-center">
      <ion-button (click)="mostrarPop()">
        <ion-label>Enviar</ion-label>
      </ion-button>
    </ion-row>
  </ion-card>
</ion-content>